discord.py[speed]>=2.0.0
git+https://github.com/Rapptz/discord-ext-menus
sympy
tabulate
lxml
Pillow
wolframalpha
matplotlib==3.5.0  # TODO: make it work for latest
pytz
pandas==1.5.3  # TODO: make it work for latest
asyncmy
